<!-- BEGIN about -->
<div class="about" id="about">
	<div class="container">
		<div class="title">У нас Вы найдете:</div>
		<div class="list">
			<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">
						Малый банный номер для компании до 6-х человек
					</div>
					<div class="image">
						<img src="img/item_1.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Большой банный номер для компании до 12-х человек</div>
					<div class="image">
						<img src="img/item_2.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Spa процедуры</div>
					<div class="image">
						<img src="img/item_3.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Массажные процедуры</div>
					<div class="image">
						<img src="img/item_4.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Бассейн с искусственным фонтаном, гейзером и противотоком</div>
					<div class="image">
						<img src="img/item_5.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Русская парная</div>
					<div class="image">
						<img src="img/item_6.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
	<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Гидромассажные </br>Spa бассейны</div>
					<div class="image">
						<img src="img/item_7.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Кедровая бочка</div>
					<div class="image">
						<img src="img/item_8.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Хаммам</div>
					<div class="image">
						<img src="img/item_9.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
				<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Финская парная</div>
					<div class="image">
						<img src="img/item_10.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>

			<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Наш фирменный чай</div>
					<div class="image">
						<img src="img/item_11.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>

			<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Зоны отдыха с комфортными лавочками и большим столом</div>
					<div class="image">
						<img src="img/item_12.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
			<div class="inner">
			<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Бесплатный wi-fi , TV, караоке</div>
					<div class="image">
						<img src="img/item_13.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
						<div class="item">
				<div class="box">
				<div class="wrap">
					<div class="name">Подарочные сертификаты</div>
					<div class="image">
						<img src="img/item_14.png" alt="">
					</div>
					<div class="more">
						<a  class="nomer">Подбробнее</a>
					</div>
				</div>
					
				</div>
			</div>
			</div>



		</div>
	</div>
</div>
<!-- END about -->