<footer class="footer">
	<div class="request__box">
	<div class="container">
		<div class="info">
			<span>Оставьте заявку на бронь банного номера от 3х часов прямо сейчас</span>   
и получите 1 час отдыха бесплатно
		</div>
		<div class="form">
			<form action="#">
				<div class="item">
				<label for="names">
					</label>
						<input type="text" name="name" id="names" required placeholder="Введите имя">
				 </div>
				<div class="item">
				<label for="telnos">
							</label>
								<input type="text" name="telno" id="telnos" required placeholder="Введите телефон">
				</div>
				<div class="item"><input type="submit"></div>
			</form>
		</div>
	</div>
</div>
<div class="info_footer">
	<div class="container">
		<div class="info left">
			<p>ИНН 633453468165 </p>
			<p>КПП 6332634001</p>
			<p>ОГРН 11546463718</p>
		</div>
		<div class="info right">
			<p>Банковские реквизиты:   </p>
			<p>р/с № 407564560004456 в Самарском отделении №6491</p>
			<p>ОАО «Сбербанк России» </p>
			<p>к/с 301034534000607</p>
			<p>БИК 0433451607</p>
		</div>
	</div>
</div>
</footer>
<div class="popup">
	 <!--popup-->
    <div class="leave_telephone_2 popup_item" id="usluga">
    <div class="box">
    	  <div class="close_popup"></div>
        <div class="left_part">
            <div class="tab_title"></div>
            <div class="text">

            </div>
        </div>
        <div class="right_part">
		<a href="#">Получить прайс</a>
        </div>
    </div>
      
    </div>
    <!--popup-->
</div>
   <div id="callback" class="modal_div ">
   	<div class="box">
   	<a class="modal_close"></a>
   		<div class="name">
   			<span>Оставьте заявку  </span>
   			на обратный звонок
   		</div>
   		<form action="#">
   			<div class="column"><input type="text" required placeholder="Имя"></div>
   			<div class="column"><input type="tel" required placeholder="Телефон* (+7 123 456 78 90)"></div>
   			<div class="button">
   				<input type="submit" value="Сделать заказ">
   			</div>
   		</form>
   	</div>
   </div>
  <div id="overlay"></div>