<!-- BEGIN send_request -->
<div class="send_request">
	<div class="container">
		<div class="item left">
			<div class="box">
				<span class="h1">Оставьте заявку</span>
				 на комплекс SPA процедур  
				 <span class="h2">и получите массаж</span>
				 <span class="color">БЕСПЛАТНО!</span>
			</div>
		</div>
		<div class="item right">
			<div class="form">
				<form action="#">
					<div class="col">
						<label for="fname">
				</label>
						<input type="text" name="name" id="fname" required placeholder="Введите имя">
					</div>
					<div class="col">
					<label for="ftel">
					</label>
					<input type="text" name="telno" id="ftel" required placeholder="Введите телефон">
					</div>
					<div class="button">
					<input type="submit" value="ОСТАВИТЬ">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END send_request -->