<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="logo">
				<a href="#">
					<i class="icon-logo"></i>
				</a>
			</div>
			<div class="phone">
				<i class="icon-call"></i><div class="tel"><span>990</span>-75-77</div>
			</div>
			<div class="callback">
				<a data-modal="#callback" class="open_modal">Заказать звонок</a>
			</div>
		</div>
	</div>
	<div class="header__info">
		<div class="container">
			<div class="title">Отдохните и расслабьтесь в SPA STUDIO</div>
			<div class="sub__title">Почувствуйте себя моложе и наберитесь новых сил</div>
			<div class="form">
				<div class="box">
					<form action="#">
					<div class="form_name">
						Оставьте заявку на бронь  
				<span>и бесплатную консультацию spa мастера</span>	
					</div>
						<div class="item">
							<label for="name">
							</label>
								<input type="text" name="name" id="name" required placeholder="Введите имя">
							
						</div>
						<div class="item">
							<label for="telno">
							</label>
								<input type="text" name="telno" id="telno" required placeholder="Введите телефон">
							
						</div>
						<div class="button">
							<input type="submit" value="ОСТАВИТЬ">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</header>