<div class="request__box">
	<div class="container">
		<div class="info">
			<span>Оставьте заявку на бронь банного номера от 3х часов прямо сейчас</span>   
и получите 1 час отдыха бесплатно
		</div>
		<div class="form">
			<form action="#">
				<div class="item">
				<label for="names">
					</label>
						<input type="text" name="name" id="names" required placeholder="Введите имя">
				 </div>
				<div class="item">
				<label for="telnos">
							</label>
								<input type="text" name="telno" id="telnos" required placeholder="Введите телефон">
				</div>
				<div class="item"><input type="submit"></div>
			</form>
		</div>
	</div>
</div>