<!-- BEGIN reviews -->
<div class="reviews">
	<div class="container">
		<div class="title">
			Отзывы наших клиентов
		</div>
		<div class="reviews__list">
		<div class="inner">
				<div class="slide active">
			<div class="item lt">
				<div class="box">
					<div class="image">
						<img src="img/svm.png" alt="">
					</div>
					<div class="content">
						<div class="name">Отдохнули шикарно!</div>
						<div class="text">
							Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
						</div>
						<div class="whois">Светлана и Михаил Ильиных</div>
					</div>
				</div>
			</div>
			<div class="item rt">
				<div class="box">
					<div class="image">
						<img src="img/svm.png" alt="">
					</div>
					<div class="content">
						<div class="name">Отдохнули шикарно!</div>
						<div class="text">
							Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
						</div>
						<div class="whois">Светлана и Михаил Ильиных</div>
					</div>
				</div>
			</div>
		</div>
			<div class="slide">
			<div class="item lt">
				<div class="box">
					<div class="image">
						<img src="img/svm.png" alt="">
					</div>
					<div class="content">
						<div class="name">Отдохнули шикарно!</div>
						<div class="text">
							Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
						</div>
						<div class="whois">Светлана и Михаил Ильиных</div>
					</div>
				</div>
			</div>
			<div class="item rt">
				<div class="box">
					<div class="image">
						<img src="img/svm.png" alt="">
					</div>
					<div class="content">
						<div class="name">Отдохнули шикарно!</div>
						<div class="text">
							Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
						</div>
						<div class="whois">Светлана и Михаил Ильиных</div>
					</div>
				</div>
			</div>
		</div>
				<div class="slide">
			<div class="item lt">
				<div class="box">
					<div class="image">
						<img src="img/svm.png" alt="">
					</div>
					<div class="content">
						<div class="name">Отдохнули шикарно!</div>
						<div class="text">
							Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
						</div>
						<div class="whois">Светлана и Михаил Ильиных</div>
					</div>
				</div>
			</div>
			<div class="item rt">
				<div class="box">
					<div class="image">
						<img src="img/svm.png" alt="">
					</div>
					<div class="content">
						<div class="name">Отдохнули шикарно!</div>
						<div class="text">
							Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
						</div>
						<div class="whois">Светлана и Михаил Ильиных</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	
	
		</div>
		<a class="to-slide">Читать еще отзывы</a>
		</div>
</div>
<!-- END reviews -->