<!-- BEGIN why_us -->
<div class="why_us">
	<div class="container">
		<div class="title">Почему нашим клиентам комфортно у нас, и понравится Вам:</div>
		<div class="list">
			<div class="item">
			<i class="icon-eco"></i>
				<div class="content">
					<div class="name">Экологическая уборка после каждой процедуры</div>
					<div class="text">
						В нашей SPA студии чистоте мы уделяем особое внимание. Уборка производится после каждого посещения, специальными экологически чистыми средствами, не содержащие хлора и кислоты 
					</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-fliter"></i>
				<div class="content">
					<div class="name">Уникальная фильтрация воды</div>
					<div class="text">Для очистки питьевой воды мы используем фильтр eSpring , что позволяет получить чистую, прозрачную и очень вкусную воду.</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-spa"></i>
				<div class="content">
					<div class="name">SPA бассейны</div>
					<div class="text">SPA бассейны - это оздоровление и удовольствие, лучший способ снять усталость и обрести внутреннюю гармонию</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-drug"></i>
				<div class="content">
					<div class="name">Дружелюбие и приватность</div>
					<div class="text">Наша студия разделена на два банных номера, в которых Вы отдыхаете только своей компанией, а мы рады будем угостить Вас нашим фирменным чаем, и будем ждать Вас снова   
У нас хорошо себя чувствуют и взрослые и дети!</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-climat"></i>
				<div class="content">
					<div class="name">Микроклимат помещения и комфорт</div>
					<div class="text">В банных номерах везде установлен теплый пол, подогрев бассейна до комфортной температуры, приточно-вытяжная вентиляция подает воздух с подогревом, а в бассейне установлена система дозации реагентов. Поэтому Вы будите чувствовать себя комфортно и отдых пройдет куда более эффективным</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-ban"></i>
				<div class="content">
					<div class="name">Парная с вениками</div>
					<div class="text">В наших парных можно париться с вениками. А для самых закаленных мы установили кадушку с ледяной водой</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-venik"></i>
				<div class="content">
					<div class="name">Банные аксессуары</div>
					<div class="text">Всем нашим гостям мы выдаем чистые полотенца, шампуни и белье для spa процедур</div>
				</div>
			</div>
			<div class="item">
			<i class="icon-action"></i>
				<div class="content">
					<div class="name">Система акций и скидок</div>
					<div class="text">Многие из наших клиентов, стали нашими постоянными гостями, а мы в свою очередь поощряем их новыми акциями, подарками, и системой скидок</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END why_us -->